@import "tailwindcss";

:root {
  --background: #080808;
  /* --foreground: oklch(0.789 0.154 211.53); */
  --foreground: #fff;
  --text-color: #fff;
  --main-color: #00ffee;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.meteor-container {
  pointer-events: none;
}

.meteor-item {
  animation: meteor linear infinite;
  position: absolute;
}

.meteor-item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  transform: translateX(50%);
  background: linear-gradient(90deg, #00b4d8, transparent);
}
